<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>Album example for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <!--<link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">-->

  <!-- Custom styles for this template -->
  <!--<link href="album.css" rel="stylesheet">-->
  <!--<link rel="stylesheet" href="../../../../../../../../Downloads/bootstrap-4.0.0/docs/4.0/examples/album/album.css">-->
</head>

<body>
<app-header-component></app-header-component>

<main role="main">


  <div class="album py-5 bg-light">
    <div class="container product-grid">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 p-b-50 product" *ngFor="let product of getProducts()">
          <app-product-component
            [product]="product"
            (productRemoval)="removeProductFromList(product)">
          </app-product-component>
        </div>
      </div>
    </div>
  </div>

</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Powrót na górę</a>
    </p>
  </div>
</footer>
</body>
</html>
