<div class="main">
  <div class="container col-md-8 position-center">

    <div class="signup col-md-4">
      <div class="signup-content">
        <div class="signup-form">
          <h2 class="form-title">Sign up</h2>
          <form method="POST" class="register-form" id="register-form" [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="form-group">
              <label for="firstName"><i class="zmdi zmdi-account material-icons-name"></i></label>
              <input type="text" name="firstName" id="firstName" placeholder="Imię" formControlName="firstName"/>
            </div>
            <div class="form-group">
              <label for="lastName"><i class="zmdi zmdi-account material-icons-name"></i></label>
              <input type="text" name="lastName" id="lastName" placeholder="Nazwisko" formControlName="lastName"/>
            </div>
            <div class="form-group">
              <label for="email"><i class="zmdi zmdi-email"></i></label>
              <input type="email" name="email" id="email2" placeholder="Email" formControlName="email"/>
            </div>
            <div class="form-group">
              <label for="pass"><i class="zmdi zmdi-lock"></i></label>
              <input type="password" name="pass" id="pass" placeholder="Password" formControlName="password"/>
            </div>
            <div class="form-group">
              <label for="street"><i class="zmdi zmdi-lock-outline"></i></label>
              <input type="text" name="street" id="street" placeholder="Ulica" formControlName="street"/>
            </div>
            <div class="form-group">
              <label for="houseNo"><i class="zmdi zmdi-lock-outline"></i></label>
              <input type="text" name="houseNo" id="houseNo" placeholder="Numer domu" formControlName="houseNo"/>
            </div>
            <div class="form-group">
              <label for="flatNo"><i class="zmdi zmdi-lock-outline"></i></label>
              <input type="text" name="street" id="flatNo" placeholder="Numer mieszkania" formControlName="flatNo"/>
            </div>
            <div class="form-group">
              <input type="checkbox" name="agree-term" id="agree-term" class="agree-term"/>
              <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in <a
                href="#" class="term-service">Terms of service</a></label>
            </div>
            <div class="form-group form-button">
              <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="signin col-md-4">
      <div class="signin-content">
        <div class="signin-form">
          <h2 class="form-title">Zaloguj się</h2>
          <form method="POST" class="register-form" id="login-form" [formGroup]="loginForm" (ngSubmit)="logIn()">
            <div class="form-group">
              <label for="email"><i class="zmdi zmdi-account material-icons-name"></i></label>
              <input type="text" name="email" id="email" placeholder="Email" formControlName="email"/>
            </div>
            <div class="form-group">
              <label for="password"><i class="zmdi zmdi-lock"></i></label>
              <input type="password" name="password" id="password" placeholder="Hasło" formControlName="password"/>
            </div>
            <div class="form-group">
              <input type="checkbox" name="remember-me" id="remember-me" class="agree-term"/>
              <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
            </div>
            <div class="form-group form-button">
              <input type="submit" name="signin" id="signin" class="form-submit" value="Zaloguj"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
