<div class="container">
  <h1 class="form-heading">register Form</h1>
  <div *ngIf="weakPassword" class="alert alert-danger" role="alert" style="text-align: center">Hasło jest za słabe - wymagane przynajmniej 6 znaków</div>
  <div *ngIf="emailExists" class="alert alert-danger" role="alert" style="text-align: center">Podany adres email jest już zajęty</div>
    <div class="login-form">
    <div class="main-div col-md-8">
      <div class="panel">
        <h2>Zarejestruj się</h2>
        <p>Wprowadź dane</p>
      </div>
      <form id="Register" [formGroup]="registerForm">

        <div class="form-group">
          <input type="text" class="form-control" name="firstName" id="firstName" placeholder="Imię"
                 formControlName="firstName"/>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Nazwisko"
                 formControlName="lastName"/>
        </div>

        <div class="form-group">
          <input type="email" class="form-control" name="email" id="email" placeholder="Email" formControlName="email"/>
        </div>

        <div class="form-group">
          <input type="password" class="form-control" name="password" id="password" placeholder="Hasło"
                 formControlName="password"/>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="street" id="street" placeholder="Ulica"
                 formControlName="street"/>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="houseNo" id="houseNo" placeholder="Nr domu / nr mieszkania"
                 formControlName="houseNo"/>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="zipCode" id="zipCode" placeholder="Kod pocztowy"
                 formControlName="zipCode"/>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="city" id="city" placeholder="Miasto" formControlName="city"/>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="phone" id="phone" placeholder="Numer telefonu"
                 formControlName="phone"/>
        </div>

        <div>
          Masz już konto? <a [routerLink]="['/login']">Zaloguj się</a>
        </div>
        <button type="submit" class="btn btn-primary" (click)="register()">Zarejestruj się</button>

      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

